body {

    width: 100%;
    height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body, .col-md-12, .row {
  height:100%;
}

.col-md-6 {

    padding-left: 0px;
    padding-right: 0px;
}

.ngview {

    height: calc(100% - 75px);
    overflow: auto;
}

multiselect .dropdown-menu{
    padding-left: 5px; 
    padding-right: 5px;
}

multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}

#colorpicker {

    width: 25px;
    height: 25px;
}

.row > div {
  height:100%;
}

#map-inner-shadow {
    width: 100%;
    height: 100%;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
}

.content {

    padding: 10px;
}

.tab-content {

    height: 90%;
    width: 100%;
}

.test {

margin-left:-15px;
    margin-right:-15px;
}

#map {

    width: 100%; 
    height: 100%;
}

#data {

    width: 65%; 
    height: 100%;
    padding-left: 10px;
}

.angular-leaflet-map {
    height: 100%;
}

.district-image {

    width: 150px;
    /*height: 60px;*/
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 5px;
    /*padding: 5px;*/
    /*border: 1px solid #999;*/
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);*/
}

.leader-image {


}

#map-inner-shadow {
    width: 100%;
    height: 100%;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
}

#home {

    padding: 5px;
}

.statistic{

    float: left;
    /*width: 50%;*/
    height: 100%;
}

#secondary-statistic {

    padding: 10px;
}

#stats-container {

    padding: 10px;
}

/* ########################################################################################## */
/* LeafletJs Stuff */
/* ########################################################################################## */



.leaflet-popup-content-wrapper {
    
    border-radius: 0px;
}

.leaflet-popup-content {

    border: none;
}