<div class="container-fluid" style="margin-top: -20px;">
    <div class="container-fluid" style="margin-top: 20px;">
        <accordion close-others="true">
            <accordion-group heading="{{ 'TAB_FAQ_QUESTION_TIME' | translate }}" is-open="true">
                {{ 'TAB_FAQ_ANSWER_TIME' | translate }}
            </accordion-group>
            <accordion-group heading="{{ 'TAB_FAQ_QUESTION_GRANULARITY' | translate }}">
                {{ 'TAB_FAQ_ANSWER_GRANULARITY' | translate }}
            </accordion-group>
            <accordion-group heading="{{ 'TAB_FAQ_QUESTION_IMAGES_NOT_SHOWING' | translate }}">
                {{ 'TAB_FAQ_ANSWER_IMAGES_NOT_SHOWING' | translate }}
            </accordion-group>
            <accordion-group heading="{{ 'TAB_FAQ_QUESTION_LANGUAGES' | translate }}">
                {{ 'TAB_FAQ_ANSWER_LANGUAGES' | translate }}
            </accordion-group>
          </accordion>
    </div>
</div>  